/* 시인성 개선을 위해 토픽 바를 개선 */
.starlight-sidebar-topics {
    /* 아웃라인을 두어 일반 섹션과 확실한 차이를 둠 */
    outline: 1px solid var(--sl-color-gray-5);
    outline-offset: 0.2rem;
    margin-bottom: 0.6rem;

    /* 일반적으로 var(--sl-color-hairline-light); 가 쓰이나, 시인성은 위가 좋음 */
    border-radius: 0.6rem;

    /* 일반 바닥 분리자는 지움*/
    &::after {
        display: none;
    }

    /* 내부 요소에 대한 패딩 제어, 눈으로 실측하고 적절한 값을 구해옴. 각 값은 항상 조절가능 값으로 */
    padding: 0.3rem 0.3rem 0.3rem 0.4rem;

    /* 내부 요소에 대해여 선택 영역 처리 */
    li {
        border-radius: 0.4rem;
        &:has(.starlight-sidebar-topics-current) {
            a {
                color: var(--sl-color-text-invert);
                font-weight: 600;
            }
            background-color: var(--sl-color-text-accent);
        }
    }

    /* 항상 최상위에 있도록 - 오직 데스크톱에서만 작동함. */
    /* 잘 작동하지 않아 적용 보류. 작은 화면에서 가림이 심해 필요에 비해 부작용 큼. */
    /* @media screen and (min-width: 768px) {
        position: sticky;
        top: 1rem;
        box-shadow: 0px -1rem 2rem 0 var(--sl-color-bg-sidebar);
        background: var(--sl-color-bg-sidebar);
    } */
}
