/* 선택 안 된 탑래밸 바로 아래 li 들이 너무 두꺼워보이는 문제를 해결 */
/* 비 탑래밸 요소와 접힘 타겟 요소는 안정적이므로 추가적으로 해결할 것이 없다 */
sl-sidebar-state-persist >ul >li {
    &:not(:has([aria-current="page"])) {
        a { font-weight: 400; }
    }
}

/* 해더 영역에 대한 손질 */
header>.header {
    /* 검색 영역을 큰 화면 상태에서 중앙으로 이동시켜 레이아웃의 균형을 맞춤 */
    >.sl-flex:has(>site-search) {
        justify-content: center;
    }

    /* 아이콘의 원본 사이즈 표현식에 *0.9 를 인가해 조금 더 보기 좋은 크기로 제공. */
    .site-title >img {
        height: calc(var(--sl-nav-height) * .9 - 2 * var(--sl-nav-pad-y));
    }
}

/* 푸터 영역에 대한 손질 */
footer {
    > .pagination-links {
        .link-title {
            /* 기본 페이지 전환 카드가 너무 크고 산만함. wrap 되어 분산이 심하기에 작게 줄임. 기본 2xl*/
            font-size: var(--sl-text-lg);
        }
    }
}

/* 오른쪽 사이드바에 대한 파인튠 */
.right-sidebar > .right-sidebar-panel {
    h2 {
        /* 너무 굵어 시각적으로 분산을 일으킴. 작게 줄임 */
        font-weight: 500;
    }
}

/* 탑바에 약간 블러 추가 */
header, mobile-starlight-toc>nav {
  /* Make the background semi-transparent */
  /* customCss는 Starlight의 @layer 밖이라 !important 없이도 이긴다 */
  background-color: color-mix(in srgb, var(--sl-color-bg-nav) 85%, transparent);
  
  /* Apply the blur effect */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px); /* Safari support */

  /* Optional: Make the bottom border subtle */
  border-bottom: 1px solid var(--sl-color-gray-5);
}

site-search>button {
    background-color: color-mix(in srgb, color-mix(in srgb, var(--sl-color-black) 40%, transparent) 95%, black);
}
